$font-main: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$color-primary: #e9663c;
$color-accent: #ffb61d;
$color-body: #555555;
$color-heading: #333333;
$color-black: #111111;
$color-white: #ffffff;
$color-border: #e4e4e4;
