@use 'base';
@use 'variables' as *;
@use 'shared' as *;

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-family: $font-main;
  color: $color-black;
  
  &.popup-open {
    overflow: hidden;
  }

  main {
    flex-grow: 1;
  }
}

header {
  padding: 3rem;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 10000;

  &.header-initial {
    background-color: transparent;
  }
  &.header-scrolled {
    background-color: $color-black;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;

    .header-nav {
      display: flex;
      align-items: center;
      gap: 5rem;

      a {
        font-weight: 600;
        color: $color-white;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        transition: all 0.2s;

        &:hover {
          color: $color-primary;
          transition: all 0.2s;
        }
      }
    }
  }
}

.hero {
  background: no-repeat center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;

  p {
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 2.5rem;
  }

  h1 {
    font-family: $font-secondary;
    font-size: 13rem;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 110px;
  }
}


.about {
  padding: 14rem 0;

  .about-wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 70rem;
    max-height: 70rem;
    border: 2rem solid $color-accent;

    > img {
      position: absolute;
      top: 50%;
      left: -8rem;
      transform: translateY(-50%);
    }

    .about-content {
      width: 49%;

      .about-content-header-top {
        font-weight: 400;
        letter-spacing: 12px;
        text-transform: uppercase;
        color: $color-body;
        margin-bottom: 1.5rem;
      }

      h2 {
        letter-spacing: -1px;
        font-size: 4rem;
        font-weight: 800;
        line-height: 4.9rem;
        margin-bottom: 1.5rem;
        color: $color-heading;
        font-family: 'Montserrat';
      }

      .about-content-desc {
        color: $color-body;
        line-height: 2.8rem;
        margin-bottom: 4rem;
        max-height: 30rem;
        overflow: auto;
      }

      .about-content-social {
        display: flex;
        gap: 1.6rem;

        a {
          width: 2rem;
          height: 2rem;

          img {
            width: 100%;
            height: 100%;

            &:hover { // accent?
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

.form-small {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 55rem;
  margin-bottom: 5rem;
  text-align: center;

  h2 {
    font-size: 4rem;
    font-weight: 800;
    font-family: $font-secondary;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    input {
      background: $color-white;
      border-radius: 9rem;
      padding: 2.4rem 4.8rem;
      text-align: center;
      font-size: 2rem;
      border: none;

      &:focus {
        outline: 3px solid lightgray;
      }
    }

    input:disabled,
    button:disabled {
      opacity: 50%;
      pointer-events: none;
    }
  }
}

footer {
  padding: 14rem 0;
  background: no-repeat center / cover;
  color: white;

  .footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-menu {
      display: flex;
      gap: 10rem;
      margin-bottom: 15rem;

      .footer-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        &.info {
          min-width: 27rem;

          img {
            width: 16.8rem;
          }
        }

        &.nav {
          h3 {
            font-family: $font-secondary;
            font-size: 2rem;
            font-weight: 500;
          }

          ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            li {
              font-size: 1.5rem;
              font-weight: 600;
              text-transform: uppercase;

              a {
                color: $color-white;
                transition: all 0.1s;

                &:hover {
                  color: $color-primary;
                  transition: all 0.1s;
                }
              }
            }
          }
        }
      }
    }
  }
}

.message-form {
  padding: 14rem 0;
  color: $color-body;

  .message-form-wrap {
    display: flex;
    justify-content: space-between;

    .message-form-left,
    .message-form-right {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 45%;
    }

    .message-form-left {
      .message-form-contact {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .message-form-contact-item {
          display: flex;
          gap: 1rem;
        }
      }
    }

    .message-form-right {
      form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        > div {
          display: flex;
          gap: 1.5rem;

          input[type=text] {
            width: 100%
          }
        }

        input, textarea {
          font-size: 1.9rem;
          padding: 1.5rem;
          border: 2px solid $color-border;
        }

        textarea {
          height: 17rem;
          font-family: $font-main;
          min-width: 100%;
          max-width: 100%;
        }
      }
    }
  }

  :disabled {
    opacity: 50%;
    pointer-events: none;
  }
}

.branches {
  color: $color-body;
  padding-bottom: 15rem;

  .branches-wrap {
    display: flex;

    .branch-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;
      width: 100%;

      &:not(:last-child) {
        border-right: 2px solid $color-border;
      }
    }
  }
}

.post {
  display: flex;
  flex-direction: column;
  min-width: 27rem;
  max-width: 27rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  background: $color-white;

  img {
    width: 100%;
    aspect-ratio: 1 / 0.7;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    object-fit: cover;
  }

  > div {
    padding: 2.5rem;

    h4 {
      font-weight: 300;
      color: $color-primary;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }

    a {
      font-size: 2rem;
      font-weight: 600;
      font-family: $font-secondary;
      color: $color-black;
      transition: all 0.2s;

      &:hover {
        color: $color-primary;
        transition: all 0.2s;
      }
    }
  }
}

.hot-posts {
  padding: 14rem 0;
  background-color: #f0f0f0;

  .hot-posts-wrap {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .hot-posts-container {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      h2 {
        text-align: center;
      }

      .hot-posts-container-inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
      }
    }
  }
}

.article {
  padding-top: 10rem;
  padding-bottom: 14rem;

  .article-wrap {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .article-meta {
      text-transform: uppercase;

      span {
        font-weight: 700;
      }
    }

    h2 {
      font-size: 4rem;
      font-weight: 800;
      font-family: $font-secondary;
    }

    img {
      width: 100%;
      border-radius: 1.5rem;
    }

    .article-content {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      h3 {
        font-size: 2.8rem;
        font-weight: 600;
        font-family: $font-secondary;
      }

      p {
        color: $color-body;
      }

      h4 {
        font-weight: 700;
        color: $font-secondary;
      }
    }
  }
}

.search-posts {
  padding: 14rem 0;
  background-color: #f0f0f0;
  border-bottom: 3px solid $color-border;

  h2 {
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .search-posts-container {
    display: flex;
    align-items: flex-start;
    gap: 2.6rem;
    flex-wrap: wrap;

    .search-posts-not-found {
      width: 100%;
      text-align: center;
    }
  }
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-white;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M20 1l-1-1-9 9-9-9-1 1 9 9-9 9 1 1 9-9 9 9 1-1-9-9'/%3E%3C/svg%3E"), pointer;

  .search-overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
    cursor: default;

    .search-overlay-input-container {
      border-bottom: 2px solid $color-border;
      position: relative;

      input {
        width: 800px;
        font-size: 2.4rem;
        padding: 1.5rem;
        background: transparent;
        border: none;

        &:focus {
          outline: 3px solid lightgray;
        }
      }

      button {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .search-overlay-result-posts {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      > h3 {
        font-size: 1.5rem;
        font-family: 'Montserrat';
        letter-spacing: 0.1rem;
        color: $color-heading;
        text-transform: uppercase;
        text-align: center;
      }

      .search-overlay-result-posts-container {
        display: flex;
        gap: 2.6rem;

        .post {
          border: 1px solid $color-border;
        }
      }

      > button {
        font-family: "Montserrat";
        font-size: 1.4rem;
        color: #333;
      }
    }
  }
}

.post-filter {
  padding: 14rem 0;
  background-color: $color-dark;

  .post-filter-wrap {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .post-filter-tabs {
      display: flex;
      justify-content: center;
      gap: 1rem;

      button {
        font-size: 1.5rem;
        font-weight: 600;
        color: $color-white;
        text-transform: capitalize;
        border-radius: 2rem;
        padding: 1.5rem;
        transition: all 0.15s;

        &.active {
          background: $color-primary;
        }
        &:hover:not(.active) {
          color: $color-primary;
          transition: all 0.15s;
        }
      }
    }

    .post-filter-posts {
      display: flex;
      align-items: flex-start;
      gap: 2.6rem;
      flex-wrap: wrap;
    }
  }
}

.image-filter {
  padding: 14rem 0;
  
  .image-filter-wrap {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .image-filter-tabs {
      display: flex;
      gap: 1rem;

      button {
        padding: 1rem 2.5rem;
        background: $color-white;
        border: 1px solid $color-border;
        text-transform: uppercase;
        font-size: 1.6rem;

        &.active,
        &:hover {
          background: $color-accent;
          color: $color-white;
          transition: all 0.3s;
        }
      }
    }

    .image-filter-images {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;

      img {
        width: calc(25% - 1rem);
        cursor: pointer;
      }
    }
  }

  .image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 50%);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image-popup-content {
      button {
        position: absolute;
        width: 35px;
        height: 35px;
        background: no-repeat center / cover;
      }

      .image-popup-close {
        top: 20px;
        right: 20px;
      }

      .image-popup-previous,
      .image-popup-next {
        top: 50%;
        transform: translateY(-50%);
      }

      .image-popup-previous {
        left: 20px;
      }

      .image-popup-next {
        right: 20px;
      }
    }
  }
}
