@use 'base';
@use 'variables' as *;

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-family: $font-main;
  color: $color-white;
  
  main {
    flex-grow: 1;
  }
}

header {
  padding: 3rem;
  background: $color-black;

  .header-wrap {
    display: flex;
    justify-content: space-between;

    .header-nav {
      display: flex;
      align-items: center;
      gap: 5rem;

      a {
        font-weight: 600;
        color: $color-white;
        letter-spacing: 1.2px;
        transition: all 0.2s;

        &:hover {
          color: $color-primary;
          transition: all 0.2s;
        }
      }
    }
  }
}
